<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .space { /* espaçamento para os links */
            margin-top: 20%;
            margin-left: 35%; /* Ajuste para 50% da largura do elemento pai */
           
        }
        .space1{
            padding: 50px;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <nav style="background-color: blueviolet !important;" class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">teste!!!</span>
        </div>
    </nav>
    {% block conteudo %}

    {% endblock %}
    
    <div class=" container space "> 
      
        <a href="{% url 'organizador' %}" class="space1">organizador</a> <!--link para nova pagina (pagina cadastro ou entrar organizador de eventos) -->
     
   
        <a href="{% url 'academia' %}" class="space1">academia</a><!--link  para nova pagina (pagina cadastro ou entrar de academia) -->
      
</div>
   
</body>
</html>